<!DOCTYPE html>
<html>
  <head>
    <title>login</title>
    <meta charset = "UTF-8">
    <link rel="stylesheet" href="/Users/songxiang/Desktop/python_project/07homework/templates/bootstrap.css">
  </head>
  <body>

    <form action="/access" method=''>
      <dl>
        <dt>Username:
        <dd><input type="text" name=username>
        <dt>Password:
        <dd><input type="password" name=password>
        <dd><input type="submit" value=Login>
      </dl>
    </form>
    </div>

  </body>
</html>