<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>whos</title>
</head>
<body>
<form action="/login">
    user:<input name="user" type="text">
    passwd:<input name="pwd" type="text">
    <input type="submit" value="Delete" name="operate" >
</form>
<!--<table border="1">-->
    <!--<thead>-->
    <!--<tr><td>user</td><td>pwd</td><td>operate</td></tr>-->
    <!--<tr>-->
        <!--<td>123</td>-->
        <!--<td>123</td>-->
        <!--<td>123</td>-->
    <!--</tr>-->
        <!--<tr>-->
        <!--<td>123</td>-->
        <!--<td>123</td>-->
        <!--<td>123</td>-->
    <!--</tr>-->
    <!--</thead>-->
<!--</table>-->
</body>
</html>