<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <div style="width:40%;margin:0 auto;">
    <style>
    table{
            font-size:16px;
            color:#930;
            text-align:center;
            margin-top:100px;
        }
    </style>
</head>

<body>
    <form action='/add' method="get" accept-charset="utf-8">
        user:
        <input type="text" name="user" value="" placeholder="">
        passwd:
        <input type="password" name="passwd" value="" placeholder="">       
        <input type="submit" name="submit" value="Add User">
        </form>

<table id='table-demo' class='table table-bordered' border = 1>

    <tr>
        <td>ID</td>
        <td>username</td>
        <td>password</td>
        <td>delete</td>
    </tr>
    <tr>
        {% for i in data%}
    </tr>
    <tr>
        <td>{{i[0]}}</td>
        <td>{{i[1]}}</td>
        <td>{{i[2]}}</td>
        <td><a href="/delete?user={{i[1]}}">delete</a></td>
    </tr>
        {% endfor %}
</table>

</body>
</html>