<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>reboot</title>
        <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <div style="width:20%;margin:0 auto;">
        <style type="text/css">
        h4{
            /*font-size:12px;*/
            /*color:#930;*/
            /*text-align:center;*/
            margin-top:200px;
        }
/*        #table-demo{
            margin-top:200px;
        }
        #form-demo{
            margin-top: 200px;
            margin-left: 200px;
        }
        #span-demo{
            color: green;
            font-size: 100px;
        } */
        </style>
        <form>
        <h4 class="form-signin-heading">登录web</h4>
        <!-- <input type="text" name="user" > -->

        <input type="text" name="username" class="form-control" placeholder="username">
        <br />
        <input type="text" name="password" class="form-control" placeholder="password">
        <!-- <br /> -->
        <!-- checkbox 复选框 -->
        <!-- <input type="checkbox" name="vehicle" value="me">  十天内免登陆 </input> -->
        <div class="checkbox">
            <label>
                <input type="checkbox"> 十天内免登陆 </input>
            </label>
        </div>
        <!-- <br /> -->
        <!-- button 显示按钮 -->
        <!-- <input type="button" value="Sign in"> -->
        <button type="submit" class="btn btn-primary btn-block" onclick="window.open('data.html')">>登录</button>
        
        </form>
    </head>
    <body>
    </body>
</html>