<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title></title>
		<link rel="stylesheet" href="/static/bootstrap.css">
		<link rel="stylesheet" href="/static/jquery-ui.css">
		<link rel="stylesheet" href="/static/sweetalert.css">
		<style>
			#name-input{
				width: 100px;
			}
			#page-body{
				margin-top: 20px;
			}
			#host-table{
				margin-top: 20px;
			}
			#mem-slide{
				display:inline-block;
				width:80px;
				margin-left: 10px;
				margin-right: 10px;
			}
			
		</style>
	</head>
	<body>
		<a href="/logout">logout</a>
		<div id ="page-body" class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-3">
					<form class="form-inline">
						<div class="form-group">
							<label>Name</label>
							<input type="text" class="form-contol" id="name-input"></input>
						</div>
						<div class="form-group">
							<label>Memery</label>
							<span id="mem-slide"></span>
							<label id = "mem-value">0G</label>
						</div>
						<div class="form-group">
							<label>End_date</label>
							<input type="text" class="form-contol" id="date-input"></input>
						</div>
						<button id="add-btn" type="button" class="btn btn-success">提交</button>
						
					</form>
					<table id = "host-table" class="table table-bordered"></table>	
				</div>
			</div>
		</div>


		<!-- update摸态窗 -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<style>
				#mem-slide1{
				display:inline-block;
				width:80px;
				margin-left: 10px;
				margin-right: 10px;
			}
			</style>
			    <div class="modal-content">
			      <div class="modal-body">
			      <form class="form-inline">
						<div class="form-group">
							<label>Name</label>
							<input type="text" class="form-contol" id="name-input1"></input>
						</div>
						<div class="form-group">
							<label>Memery</label>
							<span id="mem-slide1"></span>
							<label id = "mem-value1">0G</label>
						</div>
						<div class="form-group">
							<label>End_date</label>
							<input type="text" class="form-contol" id="date-input1"></input>
						</div>
					</form>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        <button type="button" id="add-btn1" class="btn btn-primary">提交</button>
			      </div>

			</div><!-- /.modal -->

		</div>
		<script src = '/static/jquery.min.js'></script>
		<script src = '/static/bootstrap.js'></script>
		<script src = '/static/jquery-ui.js'></script>
		<script src = '/static/sweetalert.min.js'></script>
		<script >
		$('#add-btn').on('click',function(){
			var name = $('#name-input').val()
			var mem = $('#mem-slide').slider('value')
			var end_date = $('#date-input').val()
			$.get('/addhost?name='+name+'&mem='+mem+'&end_date='+end_date,function(res){
				if(res=='ok'){
					swal('success','add success','success')
					getList()
				}else{
					alert('error')
				}			
			})
			$('#name-input').val('')
			$('#date-input').val('')
		})
		// update-button
		$('#add-btn1').on('click',function(){
			var id = $('#update-id').attr('update-id')
			var name = $('#name-input1').val()
			var mem = $('#mem-slide1').slider('value')
			var end_date = $('#date-input1').val()
			$.get('/update?id='+id+'name='+name+'&mem='+mem+'&end_date='+end_date,function(res){
				if(res=='ok'){
					swal('success','add success','success')
					getList()
				}else{
					alert('error')
				}			
			})
			$('#name-input1').val('')
			$('#date-input1').val('')
		})
		$('#date-input').datepicker({
			dateFormat:'yy-mm-dd'
		})
		$('#mem-slide').slider({
			max:32,
			min:1,
			slide:function(e,ui){
				console.log(ui.value)
				$('#mem-value').html(ui.value+'G')
			}
		})
		$('#date-input1').datepicker({
			dateFormat:'yy-mm-dd'
		})
		$('#mem-slide1').slider({
			max:32,
			min:1,
			slide:function(e,ui){
				console.log(ui.value)
				$('#mem-value1').html(ui.value+'G')
			}
		})
		$(document).on('click','.del-btn',function () {
			var id = $(this).attr('data-id')
			$.get('/delete?id='+id,function(data){
				if(data=='ok'){
					getList()
				}
			})
		})

		function getList() {
			$.post('/', function(res) {
				var res = JSON.parse(res)
				var tmp = ''
				$.each(res, function(index, value) {
					tmp += '<tr>'
					tmp += '<td>' + value[1] + '</td>' 
					tmp += '<td>' + value[2] + '</td>' 
					tmp += '<td>' + value[3] + '</td>'
					tmp += '<td><button type="button" data-target="#myModal" data-toggle="modal" class="btn btn-warning update-btn" update-id="' + value[0] +'">update</button>'
					tmp += '<td><button type="button" class="btn btn-danger del-btn" data-id="' + value[0] +'">delete</button>'
					tmp += '</tr>'
				})
				$('#host-table').html(tmp)

			})
		}
		getList()
		
		</script>
	</body>
</html>