<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YanzilLa</title>
    <style>
        #test{
            width: auto;
            height: 500px;
            background: #4cedb3;
        }
    </style>
</head>
<body>
     <form action="/add">
        user:<input type="text" name="user">
        pwd:<input type="text" name="pwd">
        <input type="submit" value="add">
    </form>
    <table border="1"><tr><td>id</td><td>username</td><td>password</td><td>opration</td></tr>
{% if data %}
    {% for srvinfo in data %}
        <tr>
            <td>{{srvinfo[0]}}</td>
            <td>{{srvinfo[1]}}</td>
            <td>{{srvinfo[2]}}</td>
            <td><a href="/delete?user={{srvinfo[1]}}">delete</a></td>
        </tr>
    {% endfor %}
{% endif %}
    </table>
    </div>
</body>
</html>