<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YanzilLa</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <style>
		#table-demo{
			margin-top:20px;
		}
		#form-demo{
			margin-top: 20px;
			margin-left: 20px;
		}
		#span-demo{
			color: green;
			font-size: 100px;
		}
    </style>
</head>
<body>
     <form id='form-demo' class="form-inline" action="/add">
         <div class="form-group">
             <label>用户</label>
             <input type="text" name="user" class="form-control">
         </div>
         <div class="form-group">
             <label>密码</label>
             <input type="text" name="pwd" class="form-control">
         </div>
             <input type="submit" class="btn btn-danger" value="新增">
     </form>
     <table style="table-layout:fixed;width:500px" border="1" cellspacing="1" cellpadding="1" id='table-demo' class='table table-striped table-bordered'>
         <tr><td>id</td><td>username</td><td>password</td><td>opration</td></tr>
{% if data %}
    {% for srvinfo in data %}
        <tr>
            <td>{{srvinfo[0]}}</td>
            <td>{{srvinfo[1]}}</td>
            <td>{{srvinfo[2]}}</td>
            <td><a href="/delete?user={{srvinfo[1]}}">delete</a></td>
        </tr>
    {% endfor %}
{% endif %}
    </table>
    </div>
</body>
</html>